<!doctype html>
<title>ROOT</title>

<body>
    {% if entries.root_op == 1 %}
    <div class="add_new_user">
         <form method="post" action="/root_add_new_user">
            新用户名&nbsp;&nbsp;<input type="text" name="username"><br>
            密码&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="password"><br>
            <input type="submit" value="添加">
         </form>
    </div>
    {% elif entries.root_op == 2 %}
    <h1>用户列表</h1>
    <table class="user_list">
        <tr>
            <td>用户名</td>
            <td>密码</td>
            <td>是否删除</td>
        </tr>
        {% for u in entries.users %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.password }}</td>
            <td><a href="/root_delete_user?user={{u.username}}">删除</a></td>
        </tr>
        {% endfor %}
    </table>

    {% endif%}

    <h3> <a href="{{ url_for('index') }}"> 返回首页 </a></h3>

</body>